body {
  margin:0;
  background: #000;
}
@font-face {
  font-family: 'ArcadeR';
  src: url('font/ARCADE_R.TTF');
  /*
  src: url('font/PressStart2P.ttf');
  */
}
#canvas-warning {
  color: #FF0;
  font-size: 1.5em;
}

#static-content {
  font-family: courier;
  position: fixed;
  left: 0;
  top: 0;
  color: yellow;
  font-size: 16px;
}

#static-content a {
  color: yellow;
}

#static-content table {
  margin: 0;
  padding: 0;
}
#static-content table th {
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#static-content table td {
  margin: 0;
  padding: 0;
}
