#scoreboard {
  font-family: courier;
  position:
  fixed;
  left: 0;
  top: 0;
  color: yellow;
}

#scoreboard a {
  color: yellow;
}

table {
  margin: 0;
  padding: 0;
}
table th {
  text-align: left;
  margin: 0;
  padding: 0;
}
table td {
  margin: 0;
  padding: 0;
}
